.div01{
    background-color:rgb(66, 200, 230);
    width: 500px;
    height: 500px;
    border-radius: 10%;
    margin-left: 35%;
    margin-top: 10%;
}

.formulario{
    margin-top: -10;
}

::form-input

::placeholder{
    color: rgb(66, 200, 230);

}

